<footer class="footer-basic-centered">

  <p class="footer-company-motto">“I want to stand as close to the edge as I can without going over.<br> Out on the edge you see all kinds of things you
  can’t see from the center.”<br> &mdash; Kurt Vonnegut</p>

  <p class="footer-links">
    <a target="_blank" href="https://github.com/noahdamiani">Github</a>
    ·
    <a target="_blank" href="https://www.linkedin.com/in/noahdamiani/">Linkedin</a>
    ·
    <a target="_blank" href="https://soundcloud.com/bigfeelingslittlemood">Soundcloud</a>
    ·
    <a href="mailto: noahdamiani@gmail.com">Email</a>
    ·
    <a target="_blank" href="https://angel.co/noah-damiani">Angel List</a>
  </p>

  <p class="footer-company-name">Noah Damiani &copy; 2019</p>

</footer>
