.footer-basic-centered {
  background-size: cover;
  background-position: center 60%;
  background: #111;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 1em;
  padding: 45px;
  margin-top: 2px;

  p {
    padding: 1em 0;
  }

  .footer-company-motto {
    color: #fff;
    font-size: 24px;
    margin: 0;
  }
  .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  .footer-links {
    list-style: none;
    font-weight: bold;
    color: coral;
    padding: 35px 0 23px;
    margin: 0;
    a {
      display: inline-block;
      text-decoration: none;
      color: coral;

      &:hover {
        color: lightgray;
      }
    }
  }
}

@media (max-width: 600px) {
  .footer-basic-centered {
    padding: 20px;
    .footer-company-motto {
      font-size: 18px;
    }
    .footer-company-name {
      font-size: 12px;
    }
    .footer-links {
      font-size: 14px;
      padding: 25px 0 20px;
      a {
        line-height: 1.8;
      }
    }
  }
}
